@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

header{
    padding: 5px;
}
header button{
    width: 200px;
    height: 40px;
    border-radius: 5px;
}
header img{
    width: 15px;
    display: inline-block;
}
