@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

.hicon{
    width: 25px;
}

header{
    width: 100vw;
    background-color: cadetblue;
    padding: 20px;
    text-align: center;
}
header a{
    margin: 10px;
    text-decoration: none;
    color: white;
}
header button{
    height: 32px;
    width: 180px;
    border: 0px;
    border-radius: 5px;
}